@page
@model IndexModel
@{
    ViewData["Title"] = "Personal Projects";
}

<div class="row">
    <div class="col-md-3">
        <h2 style="margin-top:100px">Personal Projects</h2>
        <ul>
            <li>
                <p>Android Applications</p>
                <a target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.chas.calcalc&hl=en_US">CalCalc - Nutrition Calculator</a>
                <img src="~/images/calcalcicon.jpg" alt="ASP.NET" class="img-responsive" />
                <p></p>
            </li>
            <li>
                <p>This website!</p>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/davicha32/Portfolio">Website Source Code (GitHub)</a>
            </li>
        </ul>
    </div>
</div>