@page
@model DatabaseDesignModel
@{
    ViewData["Title"] = "4407 - Database Design and Implementation";
}

<script src="~/js/site.js"></script>

<div class="row">
    <h1>INFO 4407 - Database Design and Implementation</h1>
    <div class="col-md-3">
        <h2 style="margin-top:100px;">Project</h2>
        <ul>
            <li>
                <a onclick="DatabaseDesignRequirements();" href="#">Project Requirements</a>
                <p></p>
            </li>
            <li>
                <a href="https://github.com/davicha32/4407---WRLRR" target="_blank">Project Submission (GitHub)</a>
                <p></p>
            </li>
        </ul>
    </div>
    <div id="databaseDiv" class="col-md-3">
        <h2 id="databaseTitle" style="margin-top:100px">Project Requirements</h2>
        <iframe src="https://drive.google.com/file/d/1WHAnyM7UatAdkMyxMO7ctwPUSDEnbZe8/preview" width="640" height="800"></iframe>
    </div>
</div>
