@page
@model SystemsImplementationModel
@{
    ViewData["Title"] = "4482 - Systems Development and Implementation Methodologies";
}

<script src="~/js/site.js"></script>

<div class="row">
    <h1>INFO 4482 - Systems Development and Implementation Methodologies</h1>
    <div class="col-md-3">
        <h2 style="margin-top:100px;">Project</h2>
        <ul>
            <li>
                <p>Project Requirements</p>
                <p>
                    For our capstone project we were tasked with creating a ticket and asset management system.
                    We had a real client that wanted this system built for the College of Business to use. The
                    source code is posted with the permission of the client. Contributors are credited in the
                    README on GitHub.
                </p>
                <p></p>
            </li>
            <li>
                <a href="https://github.com/davicha32/4482---AMS">Project Submission (GitHub)</a>
                <p></p>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <img src="~/images/ams.jpg" alt="ASP.NET" style="margin-top:100px; margin-left:100px" id="amsImage" height="600" width="1000"/>
    </div>
</div>