@page
@model ResumeModel
@{
    ViewData["Title"] = "Resume";
}

<p style="margin-top:20px;">* Phone number and address removed for privacy reasons.</p>

<iframe src="https://drive.google.com/file/d/1FfS7kS6Ey_iEVfWDzuV7HoSRul778FZi/preview" style="width:inherit; margin-top:25px" height="800"></iframe>
